.card-1{
    background-color:rgb(148, 216, 243);
    width:90%;
    margin:auto;
}
.form-body{
    height:300vh;
    
   
}
.container-fluid{
    background-color:rgb(148, 216, 243);
    
}
#btn1{
    margin-left: 16%;
    
}
